/*########################################
##                                     ###
## Index Page Css                      ###
##                                     ###
/*########################################
/*-------------------------------------
# Header
---------------------------------------*/
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #f3f3f3;
}
.header .trigger-icon {
  font-size: 28px;
  cursor: pointer;
  color: #ee3323;
}
.header .trigger-icon a {
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  font-weight: bolder;
  color: #bd1000;
  display: block;
  transition: 0.1s;
  text-decoration: none;
}
.sidenav a:hover {
  color: rgb(199, 199, 199);
}
.sidenav .closebtn {
  position: absolute;
  top: 12px;
  right: 45px;
  font-size: 36px;
}
.side-menu {
  width: 300px;
}
.navbar {
  justify-content: space-between;
  width: 100%;
  padding: 15px 52px;
}
.trigger-icon a {
  text-decoration: none;
}
.trigger-icon .get-touch {
  font-size: 25px;
  font-weight: 700;
  padding-right: 88px;
}
.logo img {
  width: 260;
  max-height: 65px;
}
.menu-items {
  padding-top: 40px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
/*-------------------------------------
# End Header
---------------------------------------*/

/* Banner Css */
.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 80vh;
}
.banner .overlay {
  height: 80vh;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  padding: 0px 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-overlay {
  height: 90vh;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  padding: 0px 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-heading{
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
}
.strategy-overlay {
  padding: 0px 70px;
}
.strategy-overlay ul {
  padding-left: 30px;
}
.strategy-overlay ul li {
  list-style-type: square;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-control-prev span {
  padding: 15px !important;
}
.carousel-control-next span {
  padding: 15px !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}


.first-banner h4{
  font-size: 32px;
}
.the-challenge-banner h4{
  font-size: 19px;
}
.strategy-overlay h6, ul li{
  font-size: 18px;
}

/* End Banner Css */

/* Achievement Section Css */
#achievements {
  background-color: #f3f3f3;
}
.achievement-wrap {
  padding: 60px 0px;
}
.achievement-wrap .owl-stage {
  text-align: center !important;
}
.achievement-wrap .owl-wrap .owl-carousel a {
  color: black;
  text-decoration: none;
}
.achievement-wrap .owl-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 50%;
  background: black;
  color: #ffffff;
  margin: auto !important;
}
/* End achievement Section Css */
/* Target Group Css */
.target-group {
  background-image: url(../img/other-page-banner/target-group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 80vh;
}
.target-group .overlay {
  height: 80vh;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 200px;
  text-align: center;
}

/* End Target Group Css */
/* The Challenge Css */
.the-challenge {
  background-image: url(../img/other-page-banner/the-challenge.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 80vh;
}
#challenge .overlay {
  height: 80vh;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 200px;
  text-align: center;
}
/* End The Challenge Css */
/* The Challenge Css */
.strategy {
  background-image: url(../img/other-page-banner/strategy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 80vh;
}
.strategy .overlay {
  height: 80vh;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 200px;
}
.strategy ul li {
  list-style-type: square;
}
/* End The Challenge Css */

/***** The Timeline Css *****/

.timeline-wrap {
  background-color: #f3f3f3;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  border: 4px solid #bd1000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/***** End The Timeline Css ***** /

/* About Section */
.about {
  display: flex;
  background: black;
}
.about-article {
  width: 50%;
  height: 90vh;
  color: white;
  padding: 50px;
  overflow: auto;
}
.about-img {
  width: 50%;
  height: 90vh;
}
.about-img img {
  width: 100%;
  height: 90vh;
}
/* End About Section */
/* Team Section Css */
.team-wrap {
  padding: 60px 0px;
  background: rgb(0, 0, 0);
  color: white;
}

.team-content h4,
h6 {
  color: white;
}
.team-wrap .owl-card .team-img {
  width: 250px;
  height: 250px;
  margin: auto;
}
.team-wrap .owl-card .team-img img {
  border-radius: 50%;
}
.team-wrap a {
  text-decoration: none;
  color: black;
}
.team-wrap a:hover {
  color: black;
}
.about-team-member {
  padding: 60px 0px;
}
.about-team-member ul li {
  list-style: square;
}
/* End Team Section Css */

/* Footer Section Css */
.footer {
  background: #dfdfdf;
}
.footer-top {
  padding: 50px 0px;
}
.footer-top,
.footer-bottom,
ul li a {
  color: rgb(0, 0, 0);
}
.footer-top,
.footer-bottom,
ul li a:hover {
  color: rgb(0, 0, 0);
}
.social-media {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.social-media a {
  text-decoration: none;
}
.social-media a i {
  width: 40px;
  height: 40px;
  background: rgb(216, 216, 216);
  color: #000000;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
}
.footer-bottom {
  padding-bottom: 50px;
}
/* End Footer Section Css */
/*########################################
##                                     ###
## End Index Page Css                  ###
##                                     ###
/*########################################
/*-------------------------------------
# About Page
---------------------------------------*/
.about-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-banner .head {
  color: white;
  max-width: 600px;
  text-align: center;
}
.become-leader-section {
  padding: 60px 0px 100px 0px;
}
/*-------------------------------------
# End About Page
---------------------------------------*/
/*-------------------------------------
# Press Page
---------------------------------------*/
#press {
  background-color: #f3f3f3;
}
.press-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.press-description a {
  color: red;
}
/*-------------------------------------
# End Press Page
---------------------------------------*/
/*-------------------------------------
# Revenue Model Page
---------------------------------------*/
#revenue-model {
  background: #f3f3f3;
}
.revenue-model-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sustainability {
  background-image: url(../img/revenue-model/taar.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
#sustainability .sustainability-overlay {
  width: 100%;
  height: 500px;
  padding: 50px;
  margin-bottom: 60px;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.revenue-model-1 {
  background-image: url(../img/revenue-model/revenue-model-1.jpg);
}
.revenue-model-2 {
  background-image: url(../img/revenue-model/revenue-model-2.jpg);
}
.revenue-model-3 {
  background-image: url(../img/revenue-model/revenue-model-3.jpg);
}
.revenue-model-1,
.revenue-model-2,
.revenue-model-3 {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
  margin-bottom: 60px;
}
#revenue-model .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*-------------------------------------
# End Revenue Model Page
---------------------------------------*/
/*-------------------------------------
# Event Page
---------------------------------------*/
.event-gallery {
  padding-bottom: 20px;
}
.events-parent {
  padding-bottom: 30px;
}
.img-hover-zoom {
  position: relative;
}
.event-overlay {
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -102px;
  padding: 25px;
}
.event-overlay â€a {
  color: white !important;
}
.event-overlay a:hover {
  text-decoration: none;
}
/* [1] The container */
.img-hover-zoom {
  height: auto; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
/*-------------------------------------
# End Event Page
---------------------------------------*/
/*-------------------------------------
# Projects Page
---------------------------------------*/
.projects-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*-------------------------------------
# End Projects Page
---------------------------------------*/
/*-------------------------------------
# Reach Page
---------------------------------------*/
.reach-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #000000;
}
.reach-btn {
  background: black;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
.reach-wrap {
  padding: 60px 0px;
  background: rgb(226, 226, 226);
}
.reach-article-wrap {
  background: rgb(255, 255, 255);
}
.reach-article {
  height: 70vh;
  overflow: auto;
}
/*-------------------------------------
# End Reach Page
---------------------------------------*/
/*-------------------------------------
# Project 2014 Page
---------------------------------------*/
.achievement1-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#achievements .owl-carousel .owl-nav button.owl-prev {
  display: none;
}
#achievements .owl-carousel .owl-nav button.owl-next {
  display: none;
}
/*-------------------------------------
# End Project 2014 Page
---------------------------------------*/
/*-------------------------------------
# Project 2015 Page
---------------------------------------*/
.achievement2-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.highlight-impact {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background-color: #1b1b1b;
  opacity: 0.9;
  color: white;
}
/*-------------------------------------
# End Project 2015 Page
---------------------------------------*/
/*-------------------------------------
# Project 2016 Page
---------------------------------------*/
.achievement3-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*-------------------------------------
# End Project 2016 Page
---------------------------------------*/
/*-------------------------------------
# Project 2017 Page
---------------------------------------*/
.achievement4-banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*-------------------------------------
# End Project 2017 Page
---------------------------------------*/
/*-------------------------------------
# Partners Section
---------------------------------------*/
.partners-wrap {
  background: #f3f3f3;
}
/*-------------------------------------
# End Partners Section
---------------------------------------*/

/* Other Projects */
.other-projects-wrap {
  display: flex;
}
.other-projects-article {
  padding: 20px 20px 20px 30px;
  width: 50%;
}
.other-projects-img {
  width: 50%;
}
.challenges-faced {
  background: white;
}
.challenges-faced .overlay {
  width: 100%;
  padding: 50px;
  background-color: #1b1b1b;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* End Other Projects */
